body{
	background: linear-gradient(
		to top,
		transparent 0%,
		black 100%
		)no-repeat;
}

.title{
	font-size: 50px;
	font-family: sans-serif;
	text-align: center;
	color: #1877f2;
}

img{
	text-align: center;
	width: 500px; 
	transform: rotate(deg);
	padding-top: 1px;
}
.flip-container {
	perspective: 1000px;
	display: inline-block;
  }
  .flipper{
	width: 100%;
	height: 100%;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}
.flip-container:nth-child(1):hover .flipper {
	transform: rotatex(360deg);
  }

.cont-card{
	align-items: center;
    background-color: #fff;
    border-radius: 8px 8px 0 0;
    box-sizing: border-box;
    padding: 10px 16px;
    position: relative;
    width: 435px;
    z-index: 1;
}

.card-body{
	background-color: #fff;
    border-radius: 0 0 8px 8px;
    border-top: 1px solid #dadde1;
    box-sizing: border-box;
    padding: 16px;
    position: relative;
    width: 435px;
}
._1{
	font-family: sans-serif;
	font-size: 25px;
	line-height: 32px;
	text-align: center;
	color: #000000;
}
._1_2{
	font-family: sans-serif;
	font-size: 15px;
    line-height: 24px;
    text-align: center;
    color: #606770;
}
._1_3{
	width: 195px;
    height: 30px;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid;
}
._1_4{
    width: 400px;
    height: 30px;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid;
}
._1_5{
	margin-bottom: 4px;
	color: #606770;
	font-family: sans-serif;
	font-size: 12px;
	font-weight: normal;
	line-height: 10px;
	margin-bottom: 0;
	margin-top: 2px;
	text-align: left;
}
._1_6{
	width: 130px;
    height: 30px;
    border-radius: 5px;
    box-sizing: border-box;
}
._1_7{
    display: inline-block;
    font-family: sans-serif;
    font-size: 11px;
    line-height: 20px;
    width: 130px;
    height: 30px;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid;
 
}
._1_8{
	margin-bottom: 4px;
	color: #606770;
	font-family: sans-serif;
	font-size: 12px;
	font-weight: normal;
	line-height: 12px;
	margin-bottom: 0;
	margin-top: 2px;
	text-align: left;
}
._1_9{
	margin-bottom: 4px;
	color: #385898;
	font-family: sans-serif;
	font-size: 11px;
	font-weight: normal;
	line-height: 12px;
	margin-bottom: 0;
	margin-top: 2px;
	text-align: left;
	text-decoration: none;
}
.bot{
	background: none;
    background-color: #00a400;
    border: none;
    border-radius: 6px;
    box-shadow: none; 
    font-size: 18px;
    font-weight: 600;
    height: 36px;
    overflow: hidden;
    padding: 0 32px;
    text-shadow: none;
    color: white;
    text-decoration: none;
}

h4{
	font-family: sans-serif;
	font-size: 17px;
	color: #1877f2;
	text-decoration: none;
	text-shadow: none;
}
.bot2{
	text-decoration: none;
}