body{
	background-color: #000000;
	background:  linear-gradient(#000000, #000000, #3E77B6, #000080, #3E77B6, #000080, #A9A9A9);
}
.icon{
	width: 80px;
	height: 50px;
}

header{
	position:fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 5%;
	display: flex;
	align-items: center;
	transition: 0.6s;
	padding: 40px 100px;
	z-index: 100000;
	background: rgba(58, 56, 56, 0.43);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(6.6px);
	-webkit-backdrop-filter: blur(6.6px);
	
}
footer{
	
	background: rgb(31,27,36);
	background: linear-gradient(360deg, rgba(31,27,36,1) 95%, rgba(134,131,137,1) 100%);
  	width: 100%;
	height: 10%;
    padding: 10px 100%;
  }

	/* background: rgb (31,27,36)
	box-sizing: border-box;
	color: #fff;
	width: 100%;
	padding: 70px 0 68px;
	position: relative; 
}*/

footer .top-border {
    background: linear-gradient(90deg, #fff, #a9a9a9);
    height: 2px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

footer ul, li{
	display:inline-block;
}

.hero{
	width: 100%;
	height: 100vh;
	position: relative;
	padding: 0 5%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.carrosel1{
	width: 100%;
	height: 700px;
}

.pag{
	color: white;
}

.card_img{
	align-items: center;
}

.card_button{
    align-items: center;
}

.back-video{
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: -1;
}
@media only screen and (max-width: 100%) {
  body {
  }
  .back-video{ 
  	width: 6cm;
  	height: 5cm;
  	position: absolute;
    top: 0;
  }
}

@media (min-aspect-ratio: 16/9){
	.back-video{
		width: 100%;
		height: auto;
	}
}

@media (max-aspect-ratio: 16/9){
	.back-video{
		width: auto;
		height: 100%;
	}
}


div {
  font-family: Helvetica;
}

@font-face{
	font-family: NeueMontreal-Light;
	src: url('NeueMontreal-Light.otf') format('opentype');
}

html, body {
  scroll-behavior: smooth;
}

.lead{
	padding-left: 10px;
	letter-spacing: -1px;
	font-family: TestSöhne-Dreiviertelfett;
	font-size: 22px;
	src: url('TestSöhne-Dreiviertelfett.otf') format('opentype');
}

.img2{
	padding-left: 10px;
}

.img3{
	display: block;
    margin-left: auto;
    margin-right: auto;
}

@font-face{
	font-family: Helvetica-Bold;
	font-size: 27px;
	/* letter-spacing: -2px; */
	src: url('Helvetica-Bold.ttf') format('truetype');
}

.a{
	margin: 0px -210px;
}

.b{
	margin: 0px -600px;
}

.cc {
	margin-right: auto;
	text-align: left;
	font-style: italic, bold;
}

.flex-container {
	display: flex;
    align-items: baseline;
	flex-wrap: nowrap;
 }

.flex-container > div{
	width: 100px;
	margin: 10px;
	text-align: center;
	line-height: 75px;
	font-size: 16px;
}

.container{
	width: 100%;
	
}
.container ul li{
	list-style: none;
	display: inline-block;
	margin-left: 150px;
	margin-bottom: 40px;
	margin-top: 10px;
}

.container ul li a{
	text-decoration: none;
	font-size: 17px;
}

.copyright{
	text-align: center;
	font-weight: bold;
}

.txt ul li a{
	font-family: TestSöhneBreit-Extraleicht;
	src: url('TestSöhneBreit-Extraleicht') format('opentype');
}

.descricao{
	text-shadow: 0.1em 0.1em 0.4em #FFFFFF;
	font-family: TestSöhne-Dreiviertelfett;
	font-color: #000000;
	font-size: 40px;
	letter-spacing: -2px;
	src: url('TestSöhne-Dreiviertelfett.otf') format('opentype');
}

.sub1:hover{
	-webkit-text-stroke: 2px #fff;
	color: transparent;
}

.sub2:hover{
	-webkit-text-stroke: 2px #fff;
	color:  transparent;
}

.sub3:hover{
	-webkit-text-stroke: 2px #fff;
	color: transparent;
}

.sub1{
	font-family: TestSöhne-Dreiviertelfett;
	font-weight: bold;
	font-size: 82px;
	letter-spacing: -3px;
	padding-left: 20px;
	src: url('TestSöhne-Dreiviertelfett.otf') format('opentype');
	color:  #007FFF;
	transition: 0.3s;
}

.sub2{
	font-family: TestSöhne-Dreiviertelfett;
	font-weight: bold;
	font-size: 82px;
	letter-spacing: -3px;
	src: url('TestSöhne-Dreiviertelfett.otf') format('opentype');
	color: #87CEEB;
	transition: 0.3s;
}
 
.sub3{
	font-family: RubikMonoOne-Regular;
	font-weight: bold;
	font-size: 82px;
	letter-spacing: -3px;
	padding-left: 20px;
	src: url('RubikMonoOne-Regular.ttf') format('truetype');
	color: #CDF0FF;
	transition: 0.3s;
}

.button1{
	max-width:200px;
    	max-height:150px;
   	width: auto;
    	height: auto;
	cursor: pointer;
}


.descricao{
	font-family: TestSöhne-Dreiviertelfett;
	font-size: 40px;
	letter-spacing: -2px;
	src: url('TestSöhne-Dreiviertelfett.otf') format('opentype');
}
