body{
	background-color: #000000;
	background:  linear-gradient(#000000, #000000, #000000, #000080, #000080, #000080, #000000, #000080);
}
.icon{
	width: 80px;
	height: 50px;
}

header{
	position:fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 5%;
	display: flex;
	align-items: center;
	transition: 0.6s;
	padding: 40px 100px;
	z-index: 100000;
	background: rgba(58, 56, 56, 0.43);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(6.6px);
	-webkit-backdrop-filter: blur(6.6px);
	
}
footer{
	
	background: rgb(31,27,36);
	background: linear-gradient(360deg, rgba(31,27,36,1) 95%, rgba(134,131,137,1) 100%);
  	width: 100%;
	height: 10%;
    padding: 10px 100%;
  }

.hero{
	width: 100%;
	height: 100vh;
	/* background-image: linear-gradient(to bottom, transparent 0%, black 100%); */
	position: relative;
	padding: 0 5%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.carrosel1{
	width: 100%;
	height: 700px;
}

.pag{
	color: white;
}

.card_img{
	align-items: center;
}

.card_button{
    align-items: center;
}

.back-video{
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: -1;
}
@media only screen and (max-width: 100%) {
  body {
  }
  .back-video{ 
  	width: 6cm;
  	height: 5cm;
  	position: absolute;
    top: 0;
  }
}

@media (min-aspect-ratio: 16/9){
	.back-video{
		width: 100%;
		height: auto;
	}
}

@media (max-aspect-ratio: 16/9){
	.back-video{
		width: auto;
		height: 100%;
	}
}


div {
  font-family: Helvetica;
}

@font-face{
	font-family: TestSöhne-Dreiviertelfett;
	src: url('TestSöhne-Dreiviertelfett.otf') format('opentype');
}

html, body {
  scroll-behavior: smooth;
}

.lead{
	padding-left: 10px;
	letter-spacing: -1px;
	font-family: TestSöhne-Dreiviertelfett;
	font-size: 22px;
	src: url('TestSöhne-Dreiviertelfett.otf') format('opentype');
}

.img2{
	padding-left: 10px;
}

html.has-scroll-smooth {
  overflow: hidden;
}

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.has-scroll-smooth body {
  overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh;
}

[data-scroll-direction="horizontal"] [data-scroll-container] {
  height: 100vh;
  display: inline-block;
  white-space: nowrap;
}

[data-scroll-direction="horizontal"] [data-scroll-section] {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  height: 100%;
}

.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100%;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0; }
  .c-scrollbar:hover {
    transform: scaleX(1.45); }
  .c-scrollbar:hover, .has-scroll-scrolling .c-scrollbar, .has-scroll-dragging .c-scrollbar {
    opacity: 1; }
  [data-scroll-direction="horizontal"] .c-scrollbar {
    width: 100%;
    height: 10px;
    top: auto;
    bottom: 0;
    transform: scaleY(1); }
    [data-scroll-direction="horizontal"] .c-scrollbar:hover {
      transform: scaleY(1.3); }

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  cursor: -webkit-grab;
  cursor: grab; }
  .has-scroll-dragging .c-scrollbar_thumb {
    cursor: -webkit-grabbing;
    cursor: grabbing; }
  [data-scroll-direction="horizontal"] .c-scrollbar_thumb {
    right: auto;
    bottom: 0;
}

.img3{
	display: block;
    margin-left: auto;
    margin-right: auto;
}

@font-face{
	font-family: Helvetica-Bold;
	font-size: 27px;
	/* letter-spacing: -2px; */
	src: url('Helvetica-Bold.ttf') format('truetype');
}

.a{
	margin: 0px -210px;
}

.b{
	margin: 0px -600px;
}

.cc {
	margin-right: auto;
	text-align: center;
	font-style: italic;
}

.flex-container {
	display: flex;
    align-items: baseline;
	flex-wrap: nowrap;
 }

.flex-container > div{
	width: 100px;
	margin: 10px;
	text-align: center;
	line-height: 75px;
	font-size: 16px;
}

.container{
	width: 100%;
	
}
.container ul li{
	list-style: none;
	display: inline-block;
	margin-left: 150px;
	margin-bottom: 40px;
	margin-top: 10px;
}

.container ul li a{
	text-decoration: none;
	font-size: 17px;
}

.copyright{
	text-align: center;
	font-weight: bold;
}

.txt ul li a{
	font-family: TestSöhneBreit-Extraleicht;
	src: url('TestSöhneBreit-Extraleicht') format('opentype');
}

.descricao{
	text-shadow: 0.1em 0.1em 0.4em #FFFFFF;
	font-family: TestSöhne-Dreiviertelfett;
	font-color: #000000;
	font-size: 40px;
	letter-spacing: -2px;
	src: url('TestSöhne-Dreiviertelfett.otf') format('opentype');
}

.sub1:hover{
	-webkit-text-stroke: 2px #fff;
	color: transparent;
}

.sub2:hover{
	-webkit-text-stroke: 2px #fff;
	color:  transparent;
}

.sub3:hover{
	-webkit-text-stroke: 2px #fff;
	color: transparent;
}

.sub1{
	font-family: TestSöhne-Dreiviertelfett;
	font-weight: bold;
	font-size: 82px;
	letter-spacing: -3px;
	padding-left: 20px;
	src: url('TestSöhne-Dreiviertelfett.otf') format('opentype');
	color:  #007FFF;
	transition: 0.3s;
}

.sub2{
	font-family: TestSöhne-Dreiviertelfett;
	font-weight: bold;
	font-size: 82px;
	letter-spacing: -3px;
	src: url('TestSöhne-Dreiviertelfett.otf') format('opentype');
	color: #87CEEB;
	transition: 0.3s;
}
 
.sub3{
	font-family: TestSöhne-Dreiviertelfett;
	font-weight: bold;
	font-size: 82px;
	letter-spacing: -3px;
	padding-left: 20px;
	src: url('TestSöhne-Dreiviertelfett.otf') format('opentype');
	color: #CDF0FF;
	transition: 0.3s;
}

.button1{
	width: 100px;
	height: 70px;
	border-width: 2px;
	border-radius: 30px;
	color: #f00;
	cursor: pointer;
}


.descricao{
	font-family: TestSöhne-Dreiviertelfett;
	font-size: 40px;
	font-color
	letter-spacing: -2px;
	src: url('TestSöhne-Dreiviertelfett.otf') format('opentype');
}
