body{
	
	background: linear-gradient(
		to top,
		transparent 0%,
		black 100%
		)no-repeat;
}

.fav{
	width: 100px;
}
img{
	text-align: center;
	width: 500px; 
	transform: rotate(deg);
	padding-top: 1px;
}
.flip-container {
	perspective: 1000px;
	display: inline-block;
  }
  .flipper{
	width: 100%;
	height: 100%;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}
.flip-container:nth-child(1):hover .flipper {
	transform: rotatex(360deg);
  }
.cont-card{
	align-items: center;
    background-color: #fff;
    border-radius: 8px 8px 8px 8px;
    box-sizing: border-box;
    padding: 0px 16px;
    position: relative;
    width: 435px;
    z-index: 1;
}
._1{
	font-family: sans-serif;
	font-size: 20px;
	line-height: 32px;
	text-align: center;
}
._1_2{
    border-radius: 6px;
    font-size: 17px;
    padding: 14px 16px;
    width: 330px;
    border: 1px solid;
}
.bot{
	background: none;
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    box-shadow: none; 
    font-size: 18px;
    font-weight: 600;
    height: 36px;
    overflow: hidden;
    padding: 0 32px;
    text-shadow: none;
    width: 365px;
    height: 45px;
    color: white;
}
.bot1{
	color: white;
	text-decoration: none;
}	
.bot2{
	font-family: sans-serif;
	font-size: 17px;
	color: #1877f2;
	text-decoration: none;
	text-shadow: none;
}
.linha{
	size: 10;
	width: 170px;
	float: left;
}
.linha1{
	size: 10;
	width: 170px;
	float: right;
}
.bot3{
	background: none;
    background-color: #00a400;
    border: none;
    border-radius: 6px;
    box-shadow: none; 
    font-size: 16px;
    font-weight: 600;
    height: 45px;
    overflow: hidden;
    padding: 0 32px;
    text-shadow: none;
    width: 200px;
}
.bot4{
	color: white;
	 text-decoration: none;
}
.bot5{
	text-decoration: none;
}